:root {
  font-size: 1.2rem;
}

* + * {
  margin-top: 1.5em;
}

.container {
  margin: 1.5em;
}

.inner-container {
  margin: 0 auto;
}

.inner-container > div {
  margin: 0 auto;
}

.edit-button {
  background-color: lightcoral;
  border: 1px solid aquamarine;
  border-radius: 0.2em;
}

.comments-button {
  background-color: lightcoral;
  border: 1px solid aquamarine;
  border-radius: 0.2em;
  transition: all 200ms;
}

.comments-button:hover {
  background-color: aquamarine;
  border: 1px solid lightcoral;
}
